@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #06011d;
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  font-size: 10px;
  background-color: #093074;
  color: rgb(84, 182, 182);
  text-align: center;
  padding: 0.5em 0;
}

h1 {
  color: rgb(96, 245, 245);
  font-weight: 800;
  font-size: 100px;
}

.title {
  position: absolute;
  top: 100px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  height: 20px;
  width: 20px;
  border-bottom: 4px solid rgb(169, 167, 167);
  border-right: 4px solid rgb(169, 167, 167);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-col {
  border-left: 4px solid rgb(169, 167, 167);
}

.first-row {
  border-top: 4px solid rgb(169, 167, 167);
}

.first-cell {
  border-top: 4px solid rgb(169, 167, 167);
  height: 20px;
  width: 20px;
  border-bottom: 4px solid rgb(169, 167, 167);
  border-right: 4px solid rgb(169, 167, 167);
}

.bottomRightCorner::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background: rgb(169, 167, 167);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -31px;
  height: 70px;
}

.navbar {
  display: none;
  justify-content: center;
  color: rgb(169, 167, 167);
  margin: 0 10px 20px 10px;
  font-family: "Vollkorn", serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.Restart,
.Pause,
#comms {
  border: 3px solid rgb(169, 167, 167);
  padding: 3px 10px;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.Restart:hover,
.Pause:hover {
  background-color: #9b7a5b;
  border-radius: 10px;
}

#comms {
  display: none;
  font-size: 25px;
  color: rgb(169, 167, 167);
  margin-top: 30px;
}


.score1 {
  border-top: 3px solid rgb(169, 167, 167);
  border-left: 3px solid rgb(169, 167, 167);
  border-bottom: 3px solid rgb(169, 167, 167);
  border-radius: 10px;
  padding: 3px 10px;
}

.score {
  border: 3px solid rgb(169, 167, 167);
  padding: 3px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  border: 3px solid rgb(169, 167, 167);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
}



#timerel {
  display: block;
  margin: 0 auto;
}

.modal,
.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 15%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid rgb(136, 136, 136);
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-header {
  padding: 2px 16px;
  font-size: 28px;
  background-color: rgb(169, 167, 167);
  color: white;
  text-align: center;
  height: 80%;
}

.modal-mid {
  background-color: rgb(169, 167, 167);
  color: white;
  text-align: center;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #917070;
  color: white;
  text-align: center;
  height: 50%;
}

#submit:hover,
#submit1:hover,
#submit2:hover,
#submit3:hover {
  opacity: 0.7;
}

#music,
#submit,
#submit1,
#submit2,
#submit3 {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 0.4rem;
  cursor: pointer;
  margin: 1rem;
}

#settings,
#instructions {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  color: #ffffff;
  position: absolute;
  padding: 1.5rem;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid rgb(169, 167, 167);
  border-radius: 10px;
  background-color: #f4bb86;
  font-size: 0.8rem;
  z-index: 2;
}

#instructions {
  display: none;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.htp {
  text-decoration: none;
  border: 1px solid rgb(49, 210, 218);
  position: relative;
  overflow: hidden;
}

.htp:hover {
  box-shadow: 1px 1px 25px 10px rgb(49, 210, 218);
}

.htp:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent,
      rgb(49, 210, 218),
      transparent);
  transition: all 650ms;
}

.htp:hover:before {
  left: 100%;
}

input[type="radio"] {
  display: none;
}

label {
  text-decoration: none;
  border: 1px solid rgb(49, 165, 218);
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.8 em;
}

input[type="radio"]:checked+label {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

#customs {
  display: none;
  margin-left: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  color: #ffffff;
  position: absolute;
  padding: 1.5rem;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid rgb(169, 167, 167);
  border-radius: 10px;
  background-color: #f4bb86;
  font-size: 0.8rem;
  z-index: 2;
  overflow: auto;
  max-height: 600px;
}

input[type="radio"][value="custom"]:checked~#customs {
  display: block;
}

#loot {
  display: none;
  margin-left: 20px;
}

input[type="radio"][value="yes"]:checked~#loot {
  display: block;
}

#skull {
  display: none;
  margin-left: 20px;
}

input[type="radio"][value="yes1"]:checked~#skull {
  display: block;
}

input[type="number"],
input[type="loot"],
input[type="skull"] {
  margin-left: 20px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

span {
  margin-right: 10px;
  font-size: 1.2em;
}

#customs input[type="number"] {
  width: 80px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2em;
  text-align: center;
}

#customs span {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}

#customs input[type="number"] {
  display: inline-block;
  width: 100px;
}

#customs div {
  display: flex;
  align-items: center;
}